@charset "utf-8";
*{margin: 0; padding: 0;}
ul{list-style: none;}
a{text-decoration: none; color: #000;}

body{font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #4d4d4d;
    background: #fff;
    margin: 0 auto;
    overflow-x: hidden;
}
.top{position:fixed; bottom:50px; right:50px; display:none;}

/* header */
#header{width: 100%;
    height: 100px;
    text-align: center;
    z-index: 95;
    font-weight: bold;
    font-size: 13px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.header_inner{width: 1320px;
    height: 100px;
    margin: 0 auto;
}
.nav_left{float: left;
padding:20px 0 0 230px;}

.nav_right{float: right;}
.nav_right>li{float: left;}
.nav_right>li>a{display:block; 
    color: #e28bba;
    margin: 45px 70px 0 0; 
    font-size: 17px; 
    font-weight: bold; 
}
.nav_right>li:last-child{margin-right: 150px;}
.nav_right>li>a:hover{color:#6495d9;}

/* banner */
#banner{width: 100%; 
    height: 100%; 
    margin: 0 auto;
    background: url(../images/banner.jpg) no-repeat center top;
    background-size: cover;
}

.banner_inner {width: 1320px;
    height: 700px;
    margin: 0 auto;
}
.me{width: 350px;
    height: 501px;
    margin: 0 auto;
    float: left;
    margin: 140px 0 0 135px;
}


/* about */
#about {width: 100%; 
    height: 100%; 
    margin: 0 auto;
    background: #555557 url(../images/banner2.jpg) no-repeat center;
    background-size: cover;
}

.about_inner{width: 1320px;
    height: 700px;
    margin: 0 auto;
}
.joy{float: right;
    margin: 170px 170px 0 0;
}
.about_left{float: left;
    margin: 150px 0 0 140px;
}
.profile{width: 250px;
    height: 100%;
    padding: 30px 0 50px 10px;}

.about_right{float: left;
margin: 225px 0 0 50px;
}

.skills_icon{width: 100%;
    height: 70px;
}
.skills_icon th{padding-right: 15px;}
.skills_icon th img{
    width: 50px;
    height: 50px;
}

table, td, th {border-collapse : collapse;
}
.education caption {display: table-caption;
    text-align: left;
}
.skills caption {display: table-caption;
    text-align: left;
    margin-top: 50px
}

.certification caption {display: table-caption;
    text-align: left;
}

.vertical{
    width: 50px;
    vertical-align : top;
}

/* portfolio */
#portfolio1,#portfolio2{width: 100%; 
    height: 100%;
    margin: 0 auto;
/*     background: url(../images/banner3.jpg) no-repeat center; */
    background-size: cover;
    
}
.portfolio1_inner,.portfolio2_inner{width: 1320px;
    height: 700px;
    margin: 0 auto;
    /* background-color: #8ee28b; */
    position: relative;
}
.portfolio_icon{text-align: center;
    position: absolute;
    top: 125px;
    left: 41%;
}
.portfolio1_left,.portfolio2_left{float: left;}
.computer{width:484px;
    height: 420px;
    padding: 220px 0 0 135px;
    z-index: 50;
}
.phone{z-index: 55;
    width:215px;
    height: 350px;
    padding-top: 160px;
    margin-left: -150px;
}
.portfolio1_right{float: left;
padding: 190px 0 0 100px;
}

.vertical1{width:85px;
    vertical-align : top;
}
.forand{margin: 25px 0;}
span{font-weight:normal;
    font-size: 15px;
}
.explanation{margin-top: 80px;}

/* button */
.button1{width: 400px;
height: 100%;
}
.button{
width:110px;
height:50px;
float:left;
text-align:center;
cursor:pointer;
position:relative;
box-sizing:border-box;
overflow:hidden;
margin: 0 10px 10px 0;

}
.button a{
font-family:arial;
font-size:16px;
color:#fff;
text-decoration:none;
line-height:50px;
transition:all .5s ease;
z-index:2;
position:relative;
}
.eff{
width:110px;
height:50px;
border:70px solid #405337;
position:absolute;
transition:all .5s ease;
z-index:1;
box-sizing:border-box;
}
.eff a{padding: 50px 50px;}
.button:hover .eff{
border:0px solid #405337;
}
.button:hover a{
color:#405337;
}

/* portfolio2 */
.computer_w{width:484px;
    height: 420px;
    padding: 180px 0 0 135px;
    z-index: 50;
}
.laptop{z-index: 55;
    width:400px;
    height: 241px;
    padding-top: 160px;
    margin-left: -280px;
}

.portfolio2_right{float: left;
padding: 145px 0 0 48px;
}

.witty{margin: 25px 0;}

/* design */
#design{width: 100%;
    height: 100%;
    position: relative;
}
.design_icon{text-align: center;
    position: absolute;
    top: 125px;
    left: 50%;
    margin-left:-82.5px;
}
.tab{width:1200px; 
    height:1100px;
    margin: 0 auto;
    padding-top: 200px;
}
.tabnav{font-size:0; 
    width:100%;
    margin: 0 auto;
/*     border:1px solid #ddd; */
}
.tabnav li{display: inline-block;  
    text-align:center; 
/*     border-right:1px solid #ddd; */
    width: 24.92%;
}
.tabnav li a:before{content:""; 
    position:absolute; 
    left:0; top:0px; 
    width:100%; 
}
.tabnav li a.active:before{background:#7ea21e;}
/* .tabnav li a.active{border-bottom:1px solid #fff;} */
.tabnav li a{position:relative; 
    display:block; 
    background: #e28bba; 
    color: #fff; 
    line-height:46px;
    text-decoration:none; 
    font-size:16px;
}
.tabnav li a:hover,
.tabnav li a.active{
    background:#fff; 
    color:#e28bba;
    font-weight: bold;
}
.tabcontent{height:1100px; 
    border-top:none;
}

.tab_inner{float: left;}
.tab_inner li{float: left; 
padding:10px 10px 0 10px;
}
.tab_inner li img{width:480px;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}
.tab_inner li:hover img {
	-webkit-transform: scale(1.1); 
	transform: scale(1.1);
}
.tab_inner li:nth-child(1) {margin-left: -10px;}
.tab_inner li:nth-child(4) {margin-left: -10px;}
.tab_inner li:nth-child(7) {margin-left: -10px;}

/* contect */
#contect{width: 100%;
    margin: 0 auto;
    /* padding-top: 100x; */
    background: url(../images/footer.jpg) no-repeat center;
    background-size: cover;
}
.contect_inner{width: 1200px;
height: 500px;
margin: 0 auto;}
.contect_text{float: left;
    padding: 150px 0 0 200px;
    color: #e28bba;
}
.contect_icon{float: left;
    margin:150px;
}
.number{padding: 20px 0 30px 20px;}

/* footer */
footer{width: 100%;
    height: 100px;
    background-color: #e28bba;
}
footer p{text-align: center;
    padding-top: 30px;
    font-size: 13px;
    color: #fff;
}
